#cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.3rem;
    margin: 0 6%;
    border-bottom: double rgb(119, 119, 119)
}

.box-nav {
    width: 50px;
}

.navegacao {
    position: absolute;
    display: none;
    padding: 0;
    background-color: rgb(119, 119, 119);

    text-align: left;
    margin: 0;
    list-style: none;
}

.item-menu {
    padding: 15px;
    
}

.item-menu a {
    color: #fff;
    text-decoration: none;
}
@media (min-width: 768px) {
    #botao-chaveador {
        display: none;
    }

    .box-nav {
        width: auto;
    }

    .navegacao {
        position: initial;
        display: block;
        background: none;
    }

    .item-menu {
        display: inline-block;
    }

    .item-menu a {
        color: rgb(119, 119, 119)
    }

    

}

.showNav {
    display: block;
}

.materias {
    margin: 30px 0;
    text-align: center;
}

.materias-focus {
    width: 120%;
}

.materias img {
    width: 100%;
}

.materias h3{
    text-align: justify;
    font-weight: bold;
    margin-top: 0;
}

.quem-somos {
    text-align: justify;
    padding: 0.5rem;
}
.quem-somos img {
    width: 100%;
}

@media (min-width: 768px){
    .quem-somos {
        border-left: solid 1px rgb(119, 119, 119);
        margin-left: 80px;
    }
    
    .quem-somos img {
        width: 85%;
    }
    
}

#acesso-usuario {
    display: inline-block;
    width: 100%;
    text-align: center;

}

#acesso-usuario button {
    width: 100px;
    height: 40px;
    
    background-color: #ffffff10;
    
    font-size: 0.9rem;
    color: #000;
 
    border: double #000;
    outline: none;
    margin: 0 20px;
}

#acesso-usuario button:hover {
    background-color: #000000e5;
    color: #fff;
}

.resArt {
    display: none;
    text-align: justify;
}